<div class="container-fluid mt-1 p-2  ">
    <div class="d-flex ">
        <div class="p-2 flex-grow-1  m-1 ms-5 logotext">Make<span class="text-danger">My</span>Trip</div>
            <div class="p-2  m-1  ">
                <button type="button" class="btn btn-primary px-4">Login</button> 
            </div>
            <div class="p-2  m-1 me-5 ">
                <button type="button" class="btn btn-primary px-4">SignUp</button> 
            </div>
    </div><div class="container w-75 mt-2 p-2 shadow">
        <nav class="navbar navbar-expand-sm bg-body-tertiary">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav w-100 d-flex justify-content-around">
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column  center" routerLink="/flights" routerLinkActive="active">
                        <img class="m-2 center" src="assets/navicon/flight1.png" alt="" width="50px" height="50px" >
                         <span>Flights</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column " routerLink="/hotels" routerLinkActive="active" >
                      <img class="m-2" src="assets/navicon/hotel.png" alt="">
                         <span>Hotels</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column " routerLink="/trains" routerLinkActive="active">
                      <img class="m-2" src="assets/navicon/train.png" alt="">
                      <span>Trains</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column" routerLink="/buses" routerLinkActive="active">
                      <img class="m-2" src="assets/navicon/bus.png" alt="">
                      <span>Buses</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column" routerLink="/cars" routerLinkActive="active">
                      <img class="m-2 center d-inline-block" src="assets/navicon/car.png" alt="">
                      <span>Cars</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column " routerLink="/holidaypackages" routerLinkActive="active">
                      <img class="m-2" src="assets/navicon/holiday.png" alt="">
                      <span>&nbsp;Holiday <br>Packages</span>
                      
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column" routerLink="/homestays" routerLinkActive="active">
                        <img class="m-2" src="assets/navicon/home.png" alt="">
                         <span>HomeStay <br><span class="p-2"> & Villas</span> </span>
                        
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column" routerLink="/travel-insurance" routerLinkActive="active">
                      <img class="m-2 center" src="assets/navicon/h1.png" alt="">
                         <span>&nbsp; &nbsp;Travel <br> Insurance</span>
                    </a>
                  </li>
            
                </ul>
              </div>
            </div>
          </nav>
    </div>

</div>