
<div class="container border rounded ">
    <div class="row ms-2">
        <h2 class="mb-1">Search <span class="underline-color">Flights</span></h2>
        <p class="fs-bold">Enjoy hassle free bookings with MakeMyTrip</p>
    </div>
    <div class="row border border-primary m-2 p-2 rounded">
        <div class="col-md-3 ">
            <div class="mb-3">
                <label for="fromlocation" class="form-label bold bold11">From </label>
                <input type="text" placeholder="Pune" class="form-control" id="from">
            </div>
        </div>
        <div class="col-md-3  ">
           <div class="mb-3">
            <label for="tolocation" class="form-label bold11">To </label>
            <input type="text" placeholder="Delhi" class="form-control" id="tp">
           </div>
        </div>
        <div class="col-md-3  ">
                <label for="dep" class="form-label bold11">Departure</label>
              <div class="col-xs-12 col-12 col-md-10 form-group">
                <input type="text" placeholder="Daterangepicker" class="form-control" bsDaterangepicker>
              </div>
        </div>
        <div class="col-md-3 ">
                <label for="trevel" class="form-label bold11">Travallers & Class</label>
                <div class="dropdown">
                    <button class="btn dropdown-toggle border" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown button
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item ">1 adult , 1 children</a></li>
                      <li><a class="dropdown-item" >2 adult , 1 children</a></li>
                      <li><a class="dropdown-item" >2 adult , 2 children</a></li>
                    </ul>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary px-4 rounded-pill text-uppercase fs-5">Search</button>
            </div>
    </div>
</div>
