
.image-container{
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
}

.image-container img{
    transition: transform 0.2s;
}
.image-container:hover img{
    
    transform: scale(1.2);
}
.msg{
    font-weight: 500;
    font-size: 15px;
    color: #8b572a  ;
}
.cursor{
    cursor: pointer;
}
.customwidth11{
    width: 200px;
}
/* navbar */
.nav11{
    background-color: rgb(249, 196, 204);
    
}
.bottomBorder{
    border-bottom: 2px solid #000;
}